
/*.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    justify-content: center;
}*/
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.text {
    text-align: center;
    font-size: 22px;
    
    line-height: 1.55;
    font-weight: 500;
    width: 800px;
    padding: 40px;
    /*border: 1px solid red;*/
}
.introduction.block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .introduction-wrapper h2{
        color:var(--color1);
 
    }
    .introduction-text {
        
        
        
        /*border: 1px solid red;*/
        width: 800px;
        padding: 40px;
    }
.motivation {
    width: 100%;
    /*background-color: var(--color1);
    background-image: url(../imagies/motivation.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right bottom;*/
}
.motivation-text {
    /*color: var(--color1);
    background-color: var(--color3);*/
}
