




.stage {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100px;
    height: 0px;
    z-index: 10;
    -webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% -640px;
}

figure {
    display: block;
    opacity:0;
    position: absolute;
    width: 19px;
    height: 200px;
    /*background-color: var(--color4);*/
}
.cube-1 figure {
    background-color: var(--color-gray-font);
}
.cube-2 figure {
    background-color: #f5e9cf;
}
.cube {
    -webkit-transform-style: preserve-3d;
    
}

figure {
    -webkit-transform-origin: 50% 50% 0;
    border: 1px solid black;
    
}

.front {
    -webkit-transform: translateZ(10px);
}

.top {
    -webkit-transform: rotateX(90deg) translateZ(10px);
    height: 19px;
}

.back {
    -webkit-transform: rotateY(180deg) translateZ(10px);
}

.left {
    -webkit-transform: rotateY(-90deg) translateZ(10px);
}

.right {
    -webkit-transform: rotateY(90deg) translateZ(10px);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(30deg);
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.cube {
    -webkit-transform: rotateY(-30deg);
}
.oblast:hover .cube {
    animation-fill-mode: forwards;
    -webkit-animation: rotate 1s 1 ease-in-out forwards;
}

.cube:hover figure {
            animation: opacity 1s 1 ease-in-out forwards;
}

.chelab_h1 {
    height: 190px;/*-308px;*/  
}
.kurgan_h1 {
    height: 100px;
}
.sverdlovsk_h1 {
    height: 80px;
}
.tymen_h1 {
    height: 50px;
}

.mansisk_h1 {
    height: 70px;
}
.nensk_h1 {
    height: 50px;
}


.chelab_h2 {
    height: 42px; /*-308px;*/
}

.kurgan_h2 {
    height: 73px;
}

.sverdlovsk_h2 {
    height: 65px;
}

.tymen_h2 {
    height: 179px;
}

.mansisk_h2 {
    height: 140px;
}

.nensk_h2 {
    height: 288px;
}
