@font-face {
    font-family: 'Comfortaa bold' ; /* ָל רנטפעא */
    src: url(../fonts/Comfortaa.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: Adventure; /* ָל רנטפעא */
    src: url(../fonts/adventure.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}