.infoWidht {
    margin-top:0px;
    width: 80%;
}
.teamImg {
    width:80%;
}
.teamH2{
    margin-bottom:0px;
}
.team {
    /*padding-bottom:40px;*/
    background: linear-gradient(transparent 80%, var(--color-gray-font));
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    line-height: 190%;
    text-align: center;
    height: 100vh;
}


#header-text {
    margin: 0 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

header p {
    text-align: center;
    color: var(--color1);
    font-size: 58px;
    line-height: 1.17;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0
}

body {
    color: var(--color-gray-font);
    font-family: 'comfortaa bold';
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    background: linear-gradient(var(--color-light-blue),var(--color-dark-blue),var(--color-orange),var(--color-yellow),var(--color-orange),var(--color-dark-blue),var(--color-yellow));
}

#mapOfSite {
    border: 7px solid var(--color1);
    width: 100%;
    height: 300px;
}

h2 {
    font-size: 70px;
    /*color: var(--color4);*/
    display: inline-block;
    text-align: center;
}
