#target-wraper.method {
    height: 1000px;
}

.target.method {
    height: 1000px;
}
.main-target.method {
    top: -1089px;
    left: 168px;
}

.target-text1.method {
    top: -997px;
    left: 193px;
    margin-bottom: 115px;
}
