#target-wraper.method {
    height: 1000px;
}

.target.method {
    height: 1000px;
}
.main-target.method {
    top: -1089px;
    left: 168px;
}
/*.target-text1.method.m1 {
    top: -991px;
    left: 190px;
}*/
.target-text1.method {
    top: -997px;
    left: 193px;
    margin-bottom: 115px;
}
/*.target-text1.method.bold {
    font-size:22px;
    font-weight: bold;
    
}
.target-text1.method.bold.m1{
    top: -1069px;
    left: 189px;
}
.target-text1.method.bold.m2 {
    top: -956px;
    left: 189px;
}
.target-text1.method.bold.m3 {
    top: -843px;
    left: 189px;
}
.target-text1.method.bold.m4 {
    top: -730px;
    left: 189px;
}
.target-text1.method.bold.m5 {
    top: -617px;
    left: 189px;
}*/