#target-wraper.object{
    height:700px;
}
.target.object{
    height:700px;
   
}
.main-target.object {
    top: -768px;
    left: 99px;
    color: var(--color4);
    filter: none;
}
.main-task.predmet {
    top: -916px;
    left: 564px;
    color: var(--color3);
    filter: none;
}
.target-text1.predmet {
    top: -950px;
    left: 613px;
}
.target-text1.object{
    top: -1018px;
    left: 190px;
}

.main-target.hipoteza {
    top: -1040px;
    left: 105px;
    color: var(--color2);
    filter: none;
}
.target-text1.hipoteza {
    font-size: 24px;
    top: -1057px;
    left: 148px;
}
#hipotezaImg {
    position: relative;
    top: -1396px;
    left: -312px;
    z-index:0;
}
#ObjectImg {
    position: relative;
    top: -1484px;
    left: 809px;
}