:root {
    --red-hue: 360;
    --blue-hue: 240;
    --green-hue: 120;
    --main-hue: var(--red-hue);
    --theme-darkness: 1;
    --color1: #C0DCCE;
    --color2: #D5C9B1;
    --color3: #5F978E;
    --color4: #E15858;
    --color-grey-crutch: #E7E7E7;
    --color1-l: #E6FFF7;
    --color2-l: #FFF1D4;
    --color3-l: #72B5AA;
    --color4-l: #FF6A6A;
    --color-gray-font: #353535;
    --color-light-blue: #D2FDFF;
    --color-dark-blue: #B4DFE5;
    --color-navy-blue: #0B68A5;
    --color-navy-blue-light: #1976AF;
    --color-siniy: #3033C6C;
    --color-orange: #F4976C;
    --color-yellow: #FBE8A6;
    --color-transparent: transparent;
    /*--nav-bg-color: hsl(var(--main-hue), 50%, 50%);
    --nav-text-color: hsl(var(--main-hue), 50%, 10%);
    --container-bg-color: hsl(var(--main-hue), 50%, 95%);
    --content-text-color: hsl(var(--main-hue), 50%, 50%);
    --title-color: hsl(--main-hue, 50%, 20%);
    --footer-bg-color: hsl(var(--main-hue), 93%, 88%);
    --button-text-color: hsl(var(--main-hue), 50%, 20%);*/
    filter: brightness(var(--theme-darkness));
}

    :root[theme='theme1'] {
        --red-hue: 360;
        --blue-hue: 240;
        --green-hue: 120;
        --main-hue: var(--blue-hue);
        --theme-darkness: 1;
        --color-grey-crutch: #C1B2B5;
        --color1: #A10115;
        --color2: #D72C16;
        --color3: #F0EFEA;
        --color4: #C1B2B5;
        /*filter: invert(1) brightness(var(--theme-darkness));*/
    }
    :root[theme='theme2'] {
        --red-hue: 360;
        --blue-hue: 240;
        --green-hue: 120;
        --main-hue: var(--blue-hue);
        --theme-darkness: 1;
        --color-grey-crutch: #E7E7E7;
        --color1: #FE7A47;
        --color2: #FCFDFF;
        --color3: #D84030;
        --color4: #F4CA98;
        /*filter: invert(1) brightness(var(--theme-darkness));*/
    }
    :root[theme='theme3'] {
        --red-hue: 360;
        --blue-hue: 240;
        --green-hue: 120;
        --main-hue: var(--blue-hue);
        --theme-darkness: 1;
        --color-grey-crutch: #E7E7E7;
        --color1: #26260D;
        --color2: #131306;
        --color3: #BFBF40;
        --color4: #FFFFFF;
        /*filter: invert(1) brightness(var(--theme-darkness));*/
    }
    



